<h2>Create Employee</h2>
<div>
    <form #empForm="ngForm" (ngSubmit)="saveFormData(empForm)">
        <table>
            <tr>
                <td>ID: </td>
                <td><input type="text" name="id" id="id" #id="ngModel" ngModel/></td>
            </tr>
            <tr>
                <td>First Name: </td>
                <td><input type="text" name="firstname" id="fname" #firstname="ngModel" ngModel/></td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td><input type="text" name="lastname" id="lastname" #lastname="ngModel" ngModel/></td>
            </tr>
            <tr>
                <td>Designation: </td>
                <td><input type="text" name="designation" id="designation" #designation="ngModel" ngModel/></td>
            </tr>
            <tr>
                <td>Salary</td>
                <td><input type="text" name="salary" id="salary" #salary="ngModel" ngModel/></td>
            </tr>        
            <tr>
                <td><button type="submit">Save</button></td>
                <td></td>
            </tr>
        </table>        
    </form>

</div>