<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- One Way Binding - Interpolation Binding -->
    <h1>{{title}}</h1>
    <hr />
    <h2>First Angular Application!</h2>
    <h3>Sum of {{numberOne}} and {{numberTwo}} is  {{sum}}.</h3>
    <hr />
    <app-hello></app-hello>
    <hr />
    <app-image></app-image>
    <hr />
    <app-calculator></app-calculator>
    <hr />
</body>
</html>
