<h3>ngSwitch directive</h3>
<div [ngSwitch] = "favoriteColor">
    <div *ngSwitchCase = "'red'" style="color: red;">Your favorite color is red.</div>
    <div *ngSwitchCase = "'blue'" style="color: blue;">Your favorite color is blue.</div>
    <div *ngSwitchCase = "'yellow'" style="color: yellow;">Your favorite color is yellow.</div>
    <div *ngSwitchCase = "'green'" style="color: green;">Your favorite color is green.</div>
    <div *ngSwitchCase = "'orange'" style="color: orange;">Your favorite color is orange.</div>
    <div *ngSwitchDefault>Default color.</div>
</div>