h2 {
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}

table, td, th {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
} 