<h2>Create Customer</h2>
<br />
<div>
    <form #custForm="ngForm" (ngSubmit)="saveFormData(custForm)">
        <table>
            <tr>
                <td>ID: </td>
                <td><input type="text" name="custid" id="custid" #custid="ngModel" ngModel/></td>
            </tr>
            <tr>
                <td>First Name: </td>
                <td><input type="text" name="firstname" id="firstname" #firstname="ngModel" ngModel/></td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td><input type="text" name="lastname" id="lastname" #lastname="ngModel" ngModel/></td>
            </tr>
            <tr>
                <td>Email: </td>
                <td><input type="text" name="email" id="email" #email="ngModel" ngModel/></td>
            </tr>
            <tr>
                <td>Cell No.</td>
                <td><input type="text" name="cellno" id="cellno" #cellno="ngModel" ngModel/></td>
            </tr>        
            <tr>
                <td><button class="btn btn-success" type="submit">Save</button></td>
                <td></td>
            </tr>
        </table>        
    </form>

</div>