<h2>View Customer</h2>
<div>
  <table>
      <tr style="font-weight: bold;">
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Cell No.</td>
      </tr>
      <tr *ngFor = "let c of customerData">
        <td>{{c.custid}}</td>
        <td>{{c.firstname}}</td>
        <td>{{c.lastname}}</td>
        <td>{{c.email}}</td>
        <td>{{c.cellno}}</td>
        <td><button (click)="deleteCustomer(c.custid)">Delete</button></td>
        <!-- <td><button (click)="editEmp(e.id)">Edit</button></td> -->
      </tr>
    </table>  
</div>
