table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
  }

.odd {
background-color:blueviolet;
color: antiquewhite;
}

.even {
background-color:blue;
color: bisque;
}

.first {
    background-color: pink;
    color: black;
}

.last {
    background-color: black;
    color: white;
}