<table>
    <tr>
        <th>Product No.</th>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Product Price</th>
    </tr>
    <tr *ngFor = "let product of products; let i = index; let o = odd; let e = even; let f= first; let l = last;" [ngClass] = "{odd: o, even:e, first: f, last:l} ">
        <td>{{i}}</td>
        <td>{{product.productId}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.productDescription}}</td>
        <td>{{product.productPrice}}</td>
    </tr>
</table>